@using MvcCv.Models.Entity
@model List<TblDeneyimlerim>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="m-2">Deneyim Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Açıklama</th>
        <th>Düzenle</th>
        <th>Sil</th>


    </tr>

    @foreach (var x in Model)
    {
<tr>
    <td>@x.ID</td>
    <td>@x.Baslik</td>
    <td>@x.AltBaslik</td>
    <td>@x.Tarih</td>
    <td>@x.Aciklama</td>
    <td><a href="/Deneyim/DeneyimGetir/@x.ID" class="btn-sm btn-success">Düzenle</a></td>
    <td><a href="/Deneyim/DeneyimSil/@x.ID" class="btn-sm btn-danger">Sil</a></td>


</tr>
    }

</table>
<a href="/Deneyim/DeneyimEkle" class="btn btn-primary" >Yeni Deneyim Ekle</a>

